<h1>Add reservation!</h1>

<form #reservationForm="ngForm" novalidate (ngSubmit)="onAdd()">
    <div class="form-group">
        <button class="btn" type="submit" [disabled]="reservationForm.form.invalid">Add</button>
        <div class="inputs">
            <label>Check-in: </label>
            <input type="date" class="form-control" name="Check-in" required #model="ngModel" [(ngModel)]="reservationModel.check_in" ngModel (change)="updateDate()"> 

            <label> Check-out: </label>
            <input type="date" class="form-control" name="Check-out" required #model="ngModel" [(ngModel)]="reservationModel.check_out" ngModel (change)="updateDate()"> 
        </div>
        

       
    </div>

    

    <span [innerHTML]="addResponse" class="alert-info" style="margin-left: 5px"></span>
</form>
