.body{
    
    height: 100vh;
    
    z-index: 0;
    position: relative;
    background: #f4f7fa;
}

.body form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h5 {
    text-align: center;
}

h5 {
    margin-bottom: 40px;
}

input {
    background: transparent;
    border: 0 solid lightblue;
    border-bottom-width: 2px;
    font-weight: bold;
    font-size: large;
    color: black;
    margin: 10px;
}

.btn {
    background: transparent;
    color: black;
    border-radius: 50px;
    border: 2px solid black;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: larger;
    cursor: pointer;
    padding: 4px 10px 4px 10px;
}